<h3>Rutinas de Ejercicio para Calistenia</h3>
<div class="list-group">
  <div class="table-responsive">          
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Serie</th>
          <th>Episodio</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
            <td>1/12/2016</td>
            <td>Community</td>
            <td>1x01</td>
            <td>0.50</td>
        </tr>
        <tr>
            <td>2/12/2016</td>
            <td>Community</td>
            <td>1x02</td>
            <td>0.50</td>
        </tr>
        <tr>
            <td>3/12/2016</td>
            <td>Community</td>
            <td>1x03</td>
            <td>0.50</td>
        </tr>
        <tr>
            <td>4/12/2016</td>
            <td>Community</td>
            <td>1x04</td>
            <td>0.50</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>