<div class="card" >
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <a href="#" class="card-link">Lord of the Rings</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="card-link">The Hobbit</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="card-link">The Silmarillion</a>
          </li>
    </ul>
  </div>